@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}

/* headings and logo */

h1 {
    font-family: DM+Sans, sans-serif;
    color: rgb(206, 81, 8);
    letter-spacing: 2px;
}

h2 { 
    font-family: DM+Sans, sans-serif;
    color: rgb(25, 119, 207);
    letter-spacing: 2px;
}

#logo {
    color: rgb(206, 81, 8);
    float: left;
    font-size: 200%;
    margin-left: 30px;
}

/* navigation menu */
#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 60px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #3a3a3a;
}

#menu a:hover {
    color: #537dc5ff;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* home page background image */
#homepage-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#homepage-background {
    height: 600px;
    width: 100%;
    background-image: url('../images/breaking-free-of-handcuffs.jpg');
    background-color: rgb(25, 119, 207);
    background-size: cover;
    background-repeat: no-repeat;
}

/* main text section on left of every page*/
.main-text {
    font-size: 120%;
    letter-spacing: 2px;
    line-height: 30px;
        
    background-color: rgba(243, 236, 238, .7);
    width: 60%;
    height: fit-content;
    display: inline-block;
    padding: 20px 10px;
    right: 20px;
    left: 20px;
    top: 30px;
    position: relative;
    clear: both;
}

.main-text > h2 {
    color: #3a3a3a;
}

/* two right aligned boxes, one under the other */
#div-right {
    position: relative;
    float: right;
    width: 33%;
}
    
.right-about {
    color: black;
    letter-spacing: 2px;
    line-height: 30px;
           
    padding: 20px 10px;
    right: 30px;
    top: 10px;
    display: inline-block;
    width: 100%;
    clear: both;
}

.right-about-background {
    background-color: rgba(255, 202, 75, .7);
    padding: 20px 20px;
}

/* footer */
footer {
    height: 60px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 110%;
    margin: 1%;
    padding: 1%;
    color:#3a3a3a;
}

.contact-info {
    text-align: center;
}

.contact-info > li {
    display: inline;
    font-size: 1em;
    margin: 1%;
    padding: 1%;
    color:#3a3a3a;
}

/* media queries */

/* large to medium screens (desktop and laptop) - applied when screen width is 1200px and below */
@media screen and (max-width: 1200px) {
    .main-text {
        font-size: 90%;
        width: 90%;
        height: fit-content;
        padding: 2em;
        left: 2em;
    }

    #div-right, .right-about {
        width: 94.5%;
        float: left;
        padding: 2em;
        left: .1em;
    }

    .right-about-background {
        width: 94.5%; 
        height: fit-content;
        float: left; 
        margin: 0;
        padding: 2em;
        left: .1em;
    }

    .contact-info > li {
       font-size: .7em;
    }
}

/* medium to small screens (tablet) - applied when screen width is 950px and below */
@media screen and (max-width: 950px) {
   
    #logo {
        font-size: 150%;
        margin-left: 1em;
    }

    h1 {
        letter-spacing: normal;
    }
       
    #menu, #logo {
         line-height: 50px;
    }

    #menu {
        font-size: 90%;
        letter-spacing: normal;
    }

    #menu li {
        float: right;
        margin-right: 1em;
    }

    .main-text {
        font-size: 90%;
        width: 90%;
        height: fit-content;
        padding: 2em;
        left: 2em;
    }

    #div-right, .right-about {
        width: 94.5%;
        float: left;
        padding: 2em;
        left: .1em;
    }

    .right-about-background {
        width: 94.5%; 
        height: fit-content;
        float: left; 
        margin: 0;
        padding: 2em;
        left: .1em;
    }

    .contact-info > li {
       font-size: .5em;
    }

/* small screens (mobile phones) - applied when screen width is 430px and below */
@media screen and (max-width: 430px) {
    #logo {
        font-size: 70%;
        margin-left: 1em;
    }

    h1 {
        letter-spacing: normal;
    }
       
    #menu, #logo {
         line-height: 30px;
    }

    #menu {
        font-size: 40%;
        letter-spacing: normal;
    }

    #menu li {
        float: right;
        margin-right: 1em;
    }



    .contact-info > li {
        display: inline-flex;
        font-size: .15em;
        margin: 1em;
        padding: 1em;
    }
}