@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #3a3a3a;
}

/* headings and logo */
h1 {
    font-family: 'roboto', sans-serif;
    color: #0463bb;
    letter-spacing: 2px;
}

h2 {
    font-family: 'roboto', sans-serif;
    color: #ce5108;
    letter-spacing: 2px;
}

h3 {
    font-family: 'roboto', sans-serif;
    color: #0463bb;
    letter-spacing: 2px;
    padding-bottom: 5px;
}

h4 {
    font-family: 'roboto', sans-serif;
    color: maroon;
    letter-spacing: 2px;
    padding-bottom: 5px;
    padding-top: 10px;
}

#logo {
    color: #ce5108;
    float: left;
    font-size: 220%;
    margin-left: 30px;
}

/* navigation menu */
#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu,
#logo {
    line-height: 60px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #3a3a3a;
}

#menu a:hover {
    color: #ce5108;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* home page background image */
#homepage-outer {
    height: fit-content;
    width: 100%;
    overflow: hidden;
}

#homepage-background {
    height: 700px;
    width: 100%;
    background-image: url('../images/breaking-free-of-handcuffs.jpg');
    background-color: #497499;
    background-size: cover;
    background-repeat: no-repeat;
}

/* 'banner' across top of page */

.byline-homepage {
    height: 60px;
    width: 90%;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 90px;
    padding-bottom: 15px;
    background-color: #ffca4b;
}

.byline-homepage>h2 {
    font-family: 'poppins', sans-serif;
    font-size: 120%;
    letter-spacing: normal;
    color: #3a3a3a;
    text-align: center;
}

#banner-outer {
    height: fit-content;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0 1.25rem;
}

.banner {
    background-color: #ffca4b;
    height: 40px;
    width: 94%;
    padding-top: 15px;
    padding-left: 30px;
}

.banner>h2 {
    font-family: 'poppins', sans-serif;
    font-size: 120%;
    letter-spacing: 4px;
    color: #3a3a3a;
}

.banner>h2>span {
    float: right;
    padding-right: 30px;
}

.banner-link {
    color: #3a3a3a;
    text-decoration: none;
}

a:hover,
a:hover h2.banner-link {
    color: #ce5108;
}

i {
    margin: 4px;
    padding-top: 3px;
    float: right;
}

/* main text section on left of page for 'homepage'*/
.main-body-homepage {
    font-size: 120%;
    letter-spacing: 2px;
    line-height: 30px;
    width: 92%;
    height: fit-content;
    /*display: inline-block;*/
    padding: 20px 10px;
    right: 20px;
    left: 20px;
    top: 30px;
    position: relative;
    clear: both;
}

.main-body-homepage>h2 {
    color: #ffca4b;
    letter-spacing: 4px;
}

/*homepage - 'do you need support' block */
#text-image-container-homepage {
    margin-top: 35px;
    height: 150px;
    width: 75%;

    margin-left: 30px;
    padding: 8px 8px;
    top: 20px;
    right: 20px;

    border-style: solid solid;
    border-color: #ce5108;
}

.body-right-homepage {
    width: 50%;
    height: 150px;
    display: inline-block;
    
    padding-left: 30px;
    /*margin-right: 50px;
    left: 10px;
    top: 5px;*/
    clear: right;
} 

.image-left-homepage {
    float: left;
    height: 150px;
    width: 25%;
    margin-right: 0;
    /*margin-left: 30px;*/
    /*padding: 8px 8px;
    /*top: 20px;
    right: 20px;*/
    /*border-style: solid solid;
    border-color: #ce5108;*/
}

/* main text section on left of page for pages: 'what we do'; 'get social'; 'about us' */
#text-image-container {
    margin-top: 30px;
    height: fit-content;
}

.main-body-left {
    width: 70%;
    height: fit-content;
    float: left;
    padding: 10px 10px;
    right: 20px;
    left: 10px;
    top: 5px;
    clear: both;
} 

.main-body-right {
    width: 70%;
    height: fit-content;
    float: right;
    padding: 5px 5px;
    margin-right: 50px;
    left: 10px;
    top: 5px;
} 

figcaption {
    font-size: small;
}

cite {
    font-size: small;
}

/* image blocks - left and right for pages: 'what we do'; 'get social'; 'about us'*/
.image-left-1 {
    float: left;
    height: 150px;
    width: 20%;
    margin-left: 12px;
    padding: 8px 8px;
    top: 20px;
    right: 20px;
    border-style: solid solid;
    border-color: #ce5108;
}

.image-left-2 {
    float: left;
    height: 150px;
    width: 20%;
    margin-left: 30px;
    padding: 8px 8px;
    top: 20px;
    right: 20px;
    border-style: solid solid;
    border-color: #ce5108;
}

.image-left-portrait {
    float: left;
    height: 300px;
    width: 20%;
    margin-left: 12px;
    padding: 8px 8px;
    top: 20px;
    right: 20px;
    border-style: solid solid;
    border-color: #ce5108;
}

.image-left-portrait2 {
    float: left;
    height: 220px;
    width: 20%;
    margin-left: 12px;
    padding: 8px 8px;
    top: 20px;
    right: 20px;
    border-style: solid solid;
    border-color: #ce5108;
    clear: both;
}

.image-right {
    float: right;
    height: 150px;
    width: 20%;
    margin-left: 10px;
    margin-right: 50px;
    margin-top: 30px;
    padding: 8px 8px;
    top: 20px;
    right: 20px;
    border-style: solid solid;
    border-color: #ce5108;
}

img {
    display: inline-block;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

ul {
    margin-left: 20px;
}

/* links */
.link-color {
    color: #e9e3e3;
}

.link-font-size {
    font-size: 90%;
}

/* right aligned section - homepage*/
#div-right {
    position: relative;
    float: right;
    width: 33%;
}

.right-about {
    color: black;
    letter-spacing: 2px;
    line-height: 30px;
    /*padding: 20px 20px;
    top: 30px;
    right: 30px;*/
    /*background-color: rgba(233, 227, 227, .7);*/
    
    margin-left: 10px;
    margin-right: 50px;
    margin-top: 30px;
    padding: 8px 8px;
    top: 20px;
    right: 20px;
    border-style: solid solid;
    border-color: #ce5108;
}

.link-homepage {
    color: #ce5108;
}

/* masonry style photo gallery on 'get social' page */
#photo-gallery {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photo-gallery img{
    width: 99%;
    margin: 2px 2px;
}

/*query form at bottom of 'about us' page */
#form-contact {
    clear: both;
}

#form {
    clear: left;
    height: 500px;
    width: 70%;
    margin-left: 150px;
    margin-bottom: 20px;
    background: url(../images/multiple-helping-hands.jpg);
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
}

.query-form {
    margin-left: 180px;
    margin-top: 30px;
    color: #3a3a3a;
    background-color: rgba(233, 227, 227, .8);
    height: 420px;
    max-width: 40%;
    position: absolute;
    padding: 10px;
}

.query-form>h2 {
    color: #ce5108;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #3a3a3a;
    height: 25px;
    width: 100%;
    margin: 5px 0 20px 0;
    border: 1px solid #3a3a3a;
    border-radius: 1px;
}

.text-input:hover {
    border-color: white;
}

.query-button {
    margin-top: 20px;
    padding: 15px 32px 15px 32px;
    border-radius: 2px;
    text-align: center;
    font-size: 80%;
    background-color: #ce5108;
    color: #ffffff;
    display: block;
}

.query-button:hover {
    background-color: #ffffff;
    color: #ce5108;
}

/* footer */
#footer {
    height: 45px;
    width: 98.5%;
    padding: 10px 10px 10px 20px;
    background-color: lightgrey;
    color: black;
    position: relative;
    clear: both;
}

.social-networks {
    text-align: right;
    margin-right: 20px;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 130%;
    padding: 1%;
    color: black;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

/* MEDIA QUERIES */

/* large to medium screens (DESKTOP / LAPTOP) - applied when screen width is 1200px and below */

/* headings and logo */
@media screen and (max-width: 1200px) {
    #logo {
        font-size: 200%;
        margin-left: 1em;
    }

    /* navigation menu */
    #menu {
        font-size: 100%;
    }

    /* 'banner' across top of page */
    .banner {
        height: 2.19em;
        margin-left: 0.5em;
        padding-top: 0.5em;
        padding-left: 0.8em;
    }
    
    .banner>h2 {
        font-size: 110%;
    }
    
    i {
        margin: 4px;
        padding-top: 3px;
        float: right;
    }

    /* main text section on left of page for 'homepage'*/
    .main-body-homepage {
        font-size: 100%;
        width: 90%;
        height: fit-content;
        padding: 0.5em;
        left: 2em;
    }

    /* right aligned section */
    #div-right {
        position: relative;
        float: left;
        width: 90%;
    }

    .right-about {
        width: 90%;
        float: left;
        padding: 1.3em;
        margin-top: 1em;
        left: 2.2em;
        right: 3.2em;
    }

    .right-box-h2 {
        font-size: 140%;
    }

    /* footer */
    .contact-info>li {
        font-size: .7em;
    }
}

/* medium to small screens (TABLET) - applied when screen width is 950px and below */

/* headings and logo */
@media screen and (max-width: 950px) {

    #logo {
        font-size: 160%;
        margin-left: 1em;
    }

    h1 {
        letter-spacing: 2px;
    }

    /* navigation menu */
    #menu,
    #logo {
        line-height: 50px;
    }

    #menu {
        font-size: 70%;
        letter-spacing: 2px;
    }

    #menu li {
        float: right;
        margin-right: 1em;
    }

    /* home page background image */
    #homepage-background {
        background-position: center center;
    }

    /* 'banner' across top of page */
    .byline-homepage-h2>h2 {
        font-size: 70%;
        padding-left: 1.875em;
        padding-right: 1.875em;
    }

    .banner {
        height: 1.875em;
        margin-left: 0.5em;
        padding-top: 0.5em;
        padding-left: 0.94em;
    }
   
    .banner>h2 {
    font-size: 90%;
    }

    i {
    margin: 0.25em;
    padding-top: 0.18em;
    float: right;
    }

    /* main text section on left of page for 'homepage'*/
    .main-body-homepage {
        font-size: 80%;
        width: 92%;
        height: fit-content;
        line-height: 20px;
        padding: 1em;
        left: 1.7em;
    }

    /* right aligned section */
    #div-right {
        position: relative;
        float: left;
        width: 90%;
    }

    .right-about {
        font-size: 80%;
        line-height: 20px;

        width: 90%;
        float: left;
        padding: 1.3em;
        margin-top: 1em;
        left: 1.4em;
        right: 3.2em;
    }

    .right-box-h2 {
        font-size: 130%;
    }

    /* masonry style photo gallery on 'get social' page */
    #photo{
        column-count: 3;
    }

    /* footer */
    .contact-info>li {
        font-size: .5em;
    }
}

/* small screens (MOBILE PHONES) - applied when screen width is 430px and below */

/* headings and logo */
@media screen and (max-width: 430px) {
    #logo {
        font-size: 75%;
        margin-left: 1em;
    }

    h1 {
        letter-spacing: normal;
    }

    /* navigation menu */
    #menu,
    #logo {
        line-height: 30px;
    }

    #menu {
        font-size: 40%;
        letter-spacing: normal;
    }

    #menu li {
        float: right;
        margin-right: 1em;
    }

    /* home page background image */
    #homepage-background {
        background-color: #497499;
    }

    /* 'banner' across top of page */
    .byline-homepage-h2>h2 {
        font-size: 50%;
        padding-left: 1.875em;
        padding-right: 1.875em;
    }

    /* #banner-outer {
        height: 700px;
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
        padding: 0 1.25rem;
    } */

    .banner {
        height: 1.3em;
        width: 80%;
        margin-left: 0;
        padding-top: 0.4em;
        padding-left: 0;
    }
   
    .banner>h2 {
    font-size: 65%;
    }
    
    i {
    margin: 0.25em;
    padding-top: 0.18em;
    float: right;
    }

    /* main text section on left of page for 'homepage'*/
    .main-body-homepage {
        font-size: 45%;
        width: 88%;
        height: fit-content;
        line-height: 15px;
        left: 1.7em;
    }

    /* right aligned section */
    #div-right {
        position: relative;
        float: left;
        width: 85%;
    }

    .right-about {
        font-size: 65%;
        line-height: 15px;

        width: 85%;
        float: left;
        padding: 1.1em;
        margin-top: 1em;
        left: 1.4em;
        right: 3.5em;
    }

    .right-box-h2 {
        font-size: 130%;
    }

    /* masonry style photo gallery on 'get social' page */
    #photo{
        column-count: 2;
    }

    /* footer */
    .contact-info>li {
        display: inline-flex;
        font-size: .15em;
        margin: 1em;
        padding: 1em;
    }
}